{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">{{ menu.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% for item in menu_items %}
            {%if item.parent == None %}
                {% if item.children.all %}
                <div class="dropdown">
                    <li class="nav-item dropdown {% if item.is_active %} active {% endif %}">
                        <a class="nav-link dropdown-toggle {% if item.is_active %} active {% endif %}" href="{{ item.url }}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ item.name }}
                        </a>
                      <ul class="dropdown-menu multi-level {% if item.is_expanded  %} show {% endif %}" aria-labelledby="dLabel">
                        {% for child in item.children.all%}
                          {% include "draw_children.html" with item=child current_url=current_url%}
                        {%endfor%}
                      </ul>
                    </li>
                </div>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if item.is_active %} active {% endif %}" href={{ item.url }}>{{ item.name }} <span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</nav>